<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= titulo %></h1>

  <div class="galeria">
      <div class="card">
        <img src="/images/void.jpg" alt="Imagen 1" />
        <p>Escultura 1: "VOID 1"</p>
      </div>
      <div class="card">
        <a href="/vermodelo/predefinido">
            <img src="/images/padre.jpg" alt="Imagen 2" />
        </a>        
        <p>Escultura 2: "El Padre"</p>
      </div>
  </div>
</body>
</html>